@charset "UTF-8";
/*RESET START*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  color: #8b8e94;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #E4E4E4; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

input,
textarea,
button {
  outline: none;
  border: none; }

textarea {
  resize: vertical; }

button {
  cursor: pointer; }

label {
  margin-bottom: 0; }

/*RESET END*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.white {
  color: #fff; }

.orange {
  color: #FFA33E; }

.black {
  color: #000; }

.fixed {
  position: fixed; }

.top {
  top: 0; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-right {
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right; }

.justify-sp-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.center {
  text-align: center; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 -15px; }

.row {
  margin: 0 -15px; }

.default-section {
  padding: 7em 0;
  background-color: #fff;
  margin: 0 auto; }

.section-bg {
  height: 600px;
  position: relative; }
  .section-bg:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute; }

.half-section {
  padding: 0;
  width: 50%; }

.title {
  z-index: 10; }
  .title span {
    display: block; }
  .title span:first-child {
    color: #FFA33E;
    font-family: "Pinyon Script", cursive;
    font-size: 80px;
    text-transform: capitalize; }
  .title span:last-of-type {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .05em;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px; }
  .title p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8); }

a.links {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 2px solid #000; }
  a.links:hover:before {
    width: 100%; }
  a.links:before {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #FFA33E;
    position: absolute;
    bottom: -2px;
    z-index: 2;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear; }

.header {
  z-index: 99;
  right: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .header .logo {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 117px;
    height: 40px; }
  .header .header-nav a {
    text-transform: uppercase;
    color: #fff;
    padding: 54px 0;
    -webkit-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s; }
    .header .header-nav a + a {
      margin-left: 30px; }
    .header .header-nav a:hover {
      color: #e7e7e7; }
  .header.scrolled {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09); }
    .header.scrolled .logo {
      background-image: url(../img/sprite.png);
      background-position: 0px -40px;
      width: 117px;
      height: 40px; }
    .header.scrolled .header-nav a {
      color: rgba(0, 0, 0, 0.7);
      padding: 20px 0; }
      .header.scrolled .header-nav a:hover {
        color: rgba(0, 0, 0, 0.7); }
  .header .mobile-nav,
  .header .mobile-btn {
    display: none; }

@media (max-width: 767px) {
  .header {
    background-color: #fff; }
    .header .navbar {
      position: relative; }
      .header .navbar .header-nav {
        display: none; }
      .header .navbar .logo {
        background-image: url(../img/sprite.png);
        background-position: 0px -40px;
        width: 117px;
        height: 40px;
        margin: 4px 0; }
      .header .navbar .mobile-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 42px;
        height: 32px;
        background-color: transparent;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        padding: 5px; }
        .header .navbar .mobile-btn span {
          width: 22px;
          height: 2px;
          background-color: #8b8e94;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
      .header .navbar .mobile-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-transform: uppercase;
        background-color: #fff;
        padding: 10px 0;
        margin: 0 -15px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7; }
        .header .navbar .mobile-nav a {
          padding: 15px;
          color: rgba(0, 0, 0, 0.7);
          width: 100%;
          line-height: 15px; }
        .header .navbar .mobile-nav a + a {
          margin-left: 0; } }

.slider {
  height: 750px; }
  .slider.slick-dotted {
    margin: 0; }
  .slider .slider-bg {
    height: 750px;
    width: 100%;
    position: relative; }
    .slider .slider-bg.first {
      background: url("../img/hero_bg_1.jpg") no-repeat center/cover; }
    .slider .slider-bg.second {
      background: url("../img/hero_bg_2.jpg") no-repeat center/cover; }
    .slider .slider-bg .slider-title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%);
      text-align: center; }
  .slider .slick-slide {
    height: 100%; }
  .slider .slick-arrow {
    z-index: 10;
    opacity: .7;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .slider .slick-arrow:hover {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: .9; }
    .slider .slick-arrow:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px; }
  .slider .slick-next {
    right: 0; }
    .slider .slick-next:before {
      content: "\f105"; }
  .slider .slick-prev {
    left: 0; }
    .slider .slick-prev:before {
      content: "\f104"; }
  .slider .slick-dots {
    bottom: 20px; }
    .slider .slick-dots li.slick-active button:before {
      opacity: 1; }
    .slider .slick-dots li {
      margin: 0 2px; }
      .slider .slick-dots li button {
        padding: 3px; }
        .slider .slick-dots li button:before {
          color: #fff;
          font-size: 10px; }

.welcome .title {
  margin-top: 30px; }
  .welcome .title span:last-of-type {
    color: #000; }
  .welcome .title p {
    margin-top: 50px;
    color: inherit;
    font-size: 15px;
    letter-spacing: 0.3em; }

.welcome .text {
  padding: 0 30px;
  margin-bottom: 30px; }

.specialties {
  background: url("../img/hero_bg_2.jpg") no-repeat left top/cover; }
  .specialties .title {
    margin-top: 250px; }

.menu .menu-container {
  width: 100%;
  margin-top: -13%;
  margin-bottom: -13%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  background-color: #fff; }
  .menu .menu-container .half-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .menu .menu-container .half-section:nth-of-type(3) .half-section:first-child, .menu .menu-container .half-section:nth-of-type(4) .half-section:first-child {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .menu .menu-container .half-section:nth-of-type(3) .half-section:last-child, .menu .menu-container .half-section:nth-of-type(4) .half-section:last-child {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .menu .menu-container .half-section .menu-img {
      height: 267px;
      width: 100%; }
    .menu .menu-container .half-section .menu-text {
      padding: 40px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .menu .menu-container .half-section .menu-text .menu-text__title {
        margin-bottom: 10px;
        font-size: 18px;
        text-transform: uppercase;
        color: #000; }
      .menu .menu-container .half-section .menu-text .menu-text__content {
        margin-bottom: 30px; }
      .menu .menu-container .half-section .menu-text .menu-text__price {
        font-size: 20px;
        color: #FFA33E; }
    .menu .menu-container .half-section:first-child .menu-img {
      background: url("../img/img_square_1.jpg") no-repeat center/cover; }
    .menu .menu-container .half-section:nth-of-type(2) .menu-img {
      background: url("../img/img_square_2.jpg") no-repeat center/cover; }
    .menu .menu-container .half-section:nth-of-type(3) .menu-img {
      background: url("../img/img_square_3.jpg") no-repeat center/cover; }
    .menu .menu-container .half-section:nth-of-type(3) .menu-img {
      background: url("../img/img_square_4.jpg") no-repeat center/cover; }
