
// navbar-header
.header{
  z-index: 99;
  right: 0;
  left: 0;
  background-color: transparent;
  transition: background-color .3s;

  .logo{
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 117px;
    height: 40px;
  }

  .header-nav a{
    text-transform: uppercase;
    color: $white;
    padding: 54px 0;
    transition: padding .3s;

    & + a{
      margin-left: 30px;
    }

    &:hover{
      color: #e7e7e7;
    }
  }

  &.scrolled{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);

    .logo{
      background-image: url(../img/sprite.png);
      background-position: 0px -40px;
      width: 117px;
      height: 40px;
    }

    .header-nav a{
      color: rgba(0,0,0,.7);
      padding: 20px 0;

      &:hover{
        color: rgba(0,0,0,.7);
      }
    }
  }

  .mobile-nav,
  .mobile-btn{
    display: none;
  }
  
}

@media (max-width: 767px){
  .header{
    background-color: #fff;

    .navbar{
      position: relative;

      .header-nav{
        display: none;
      }

      .logo{
        background-image: url(../img/sprite.png);
        background-position: 0px -40px;
        width: 117px;
        height: 40px;
        margin: 4px 0;
      }

      .mobile-btn{
        display: flex;
        width: 42px;
        height: 32px;
        background-color: transparent;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;

        & span{
          width: 22px;
          height: 2px;
          background-color: rgb(139, 142, 148);
          display: flex;
          transition: all .3s linear;
        }
      }

      .mobile-nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        text-transform: uppercase;
        background-color: #fff;
        padding: 10px 0;
        margin: 0 -15px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;

        & a{
          padding: 15px;
          color: rgba(0,0,0,.7);
          width: 100%;
          line-height: 15px;
        }

        & a + a{
          margin-left: 0;
        }
      }

    }


  }
}

// Slider
.slider{
  height: 750px;

  &.slick-dotted{
    margin: 0;
  }

  .slider-bg{
    height: 750px;
    width: 100%;
    position: relative;

    &.first{
      background: url("../img/hero_bg_1.jpg") no-repeat center / cover;
    }

    &.second{
      background: url("../img/hero_bg_2.jpg") no-repeat center / cover;
    }

    & .slider-title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }
  }

  .slick-slide{
    height: 100%;
  }

  .slick-arrow{
    z-index: 10;
    opacity: .7;
    background-color: rgba(0,0,0,.5);
    width: 60px;
    height: 60px;
    transition: all .3s linear;

    &:hover{
      background-color: rgba(0,0,0,.8);
      opacity: .9;
    }

    &:before{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px;
    }
  }

  .slick-next{
    right: 0;

    &:before{
      content: "\f105";
    }
  }

  .slick-prev{
    left: 0;

    &:before{
      content: "\f104";
    }
  }

  .slick-dots{
    bottom: 20px;

    & li.slick-active{

      & button:before{
        opacity: 1;
      }
    }

    & li{
      margin: 0 2px;

      & button{
        padding: 3px;

        &:before{
          color: $white;
          font-size: 10px;
        }
      }
    }
  }

}

//Specialties
.specialties{

  .default-section{
    .title{
      margin-top: 30px;

      & span:last-of-type{
        color: $black;
      }

      & p{
        margin-top: 50px;
        color: inherit;
        font-size: 15px;
        letter-spacing: 0.3em;
      }
    }

    .text{
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }

  .section-bg{
    background: url("../img/hero_bg_2.jpg") no-repeat fixed center / cover;

    .title{
      margin-top: 250px;
    }
  }

}

//Specialties


//Menu
.menu{

  .default-section{
    .menu-container{
      width: 100%;
      margin-top: -13%;
      margin-bottom: -13%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      background-color: $white;
      z-index: 5;

      & .half-section{
        display: flex;

        &:nth-of-type(3),
        &:nth-of-type(4){
          .half-section:first-child{
            order: 2;
          }
          .half-section:last-child{
            order: 1;
          }
        }

        .menu-img{
          height: 267px;
          width: 100%;
        }

        .menu-text{
          padding: 40px;
          text-align: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .menu-text__title{
            margin-bottom: 10px;
            font-size: 18px;
            text-transform: uppercase;
            color: $black;
          }

          .menu-text__content{
            margin-bottom: 30px;
          }

          .menu-text__price{
            font-size: 20px;
            color: $orange;
          }
        }

        &:first-child{
          .menu-img{
            background: url("../img/img_square_1.jpg") no-repeat center / cover;
          }
        }

        &:nth-of-type(2){
          .menu-img{
            background: url("../img/img_square_2.jpg") no-repeat center / cover;
          }
        }

        &:nth-of-type(3){
          .menu-img{
            background: url("../img/img_square_3.jpg") no-repeat center / cover;
          }
        }

        &:nth-of-type(3){
          .menu-img{
            background: url("../img/img_square_4.jpg") no-repeat center / cover;
          }
        }
      }
    }
  }

  .section-bg{
    background: url("../img/hero_bg_4.jpg") no-repeat fixed center / cover;

    .title{
      margin-top: 250px;
    }
  }
}