.white{
  color: $white;
}
.orange{
  color: $orange;
}
.fixed{
  position: fixed;
}
.top{
  top: 0;
}
.flex-container{
  display: flex;
}
.justify-right{
  justify-content: right;
}
.justify-sp-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}

